* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

/* BadHabits.jsx */
.bad-habits {
	display: flex;
	flex-direction: column;
}

.bad-habits h1,
.bad-habit-edit-form h1 {
	text-align: center;
	margin: 1.2rem auto;
	padding: 0.65rem;
}

.bad-habits-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-between;
}

/* BadHabit.jsx */
.bad-habits-list-line {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 25vw;
}

.bad-habits-list-line img {
	margin-top: 0.8rem;
	width: 25vw;
}

/* BadHabitDetails.jsx */
.bad-habits-details {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1.4rem;
	margin: 1.2rem 0.8rem;
}

.bad-habits-details h1 {
	font-size: 40px;
	padding: 0.8rem 0;
}

.bad-habits-details img {
	width: 100%;
}

.bad-habits-details-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 65%;
	gap: 25px;
}

.bad-habits-details-info p {
	font-size: 22px;
}

.bad-habits-details-info span {
	font-weight: normal;
}

.showNavigation {
	display: flex;
	justify-content: space-around;
	width: 50%;
}

/* BadHabitEditForm.jsx */
.bad-habit-edit-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bad-habit-edit-form h2,
.bad-habit-edit-form-link {
	text-align: center;
}

.bad-habit-edit-form-link {
	margin-top: 0.8rem;
}

.bad-habit-edit-form form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 50vw;
	gap: 0.8rem;
	margin: 0 auto;
}

.bad-habit-edit-form input,
label {
	width: 100%;
}

.bad-habit-edit-form textarea {
	width: 60%;
	height: 140px;
}
